@page "/about"

<PageTitle>About</PageTitle>

<RadzenCard Style="margin-bottom: 20px; border-radius: 15px;">
    <h1 align="center">Project Synopsis</h1>
    <p>ProManTo is a project management tool to manage every project member's tasks and progress on various projects.</p>
    <br>
    <p>ProManTo is user-friendly application specially designed to assist every team while working on a project to keep a track of tasks, bugs, and progress.</p>
    <br>
    <h4>Features</h4>
    <p>ProManTo offers a wide range of features to work with while doing a project or wanting to track daily progress.</p>
    <br>
    <p>With the option of To-Do-List, one can keep a list of tasks to be done in the project.</p>
    <br>
    <p>ProManTo also offers progress reports to ease the job of tracking multiple projects that the team might be working on.</p>
    <br>
    <p>The program also features a Bug Tracker to keep a record of the bugs found.</p>
</RadzenCard>

<RadzenCard Style="margin-bottom: 20px; border-radius: 15px;">
    <h1 align="center">ER Diagram</h1>
    <RadzenImage Path="/images/er_diagram.png" Style="width: 90%; height: auto; margin-left: auto; margin-right: auto; margin-top: 10px;" />
</RadzenCard>

<RadzenCard Style="margin-bottom: 20px; border-radius: 15px;">
    <h1 align="center" margin-bottom="20px">Schema Diagram</h1>
    <RadzenImage Path="/images/schema_diagram.png" Style="width: 90%; height: auto; margin-left: auto; margin-right: auto; auto; margin-top: 10px;" />
</RadzenCard>

@code {

}
