@page "/"

<PageTitle>ProManTo</PageTitle>

<div style="align-items: center; display: flex; justify-content: center;">
    <RadzenCard Style="margin-bottom: 20px; border-radius: 15px; width: 80%;">
        <img src="./images/home.png" />
    </RadzenCard>
</div>

<div style="align-items: center; display: flex; justify-content: center;">
    <RadzenCard Style="margin-bottom: 20px; border-radius: 15px; width: 80%;">
        <h1 align="center">Features</h1>
        <p>ProManTo offers a wide range of features to work with while doing a project or wanting to track daily progress.</p>
        <br>
        <p>With the option of To-Do-List, one can keep a list of tasks to be done in the project.</p>
        <br>
        <p>ProManTo also offers progress reports to ease the job of tracking multiple projects that the team might be working on.</p>
        <br>
        <p>The program also features a Bug Tracker to keep a record of the bugs found.</p>
    </RadzenCard>
</div>
